/* You can add global styles to this file, and also import other style files */

// variables - imported from _vars.scss
@import './vars';

body {
  color:$font-color;
  background-color: $background-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
